<div class="banner">
  <!-- Hero Slideshow -->

  <ul class="banner-slideshow">
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="title-vert">
    <h2>Casaba Estates</h2>
    <h3>A new Rolling Hills Estates community</h3>
    <p>5 new semi-custom, luxury single-family homes.<br>Adjacent to both Rolling Hills Country Club,
and Jack Kramer tennis club.<br>For for more information visit:</p><br>
    <a href="http://casaba.maupinrealtors.com/" target="blamk" class="shadow">casaba.maupinrealtors.com</a>
  </div>

</div>
