<div class="biohero">
	<div class="devhero" data-speed="2" data-type="background">
		<img src="<%= asset_path('maup_about.svg') %>" alt="Maupin Realty" class="title">
	</div>
</div>

	<div class="bio">
		<div class="biolft">
			<div class="portrait"></div>
		</div>
		<div class="biort">
			<div class="b1">Douglas Maupin</div>
			<div class="y1">Broker, Developer, C.E.O</div>
			<p><span class="dropcap">D</span>oug Maupin started his real estate career in 1979 in the South Bay of Los Angeles County. By 1985 he had become one of the top producers in the business with C.B. Mitchell and later with Mitchell Moore Realty. From 1985-1990, Doug began developing residential projects in and around the South Bay along with his active brokerage business. Doug Maupin developed 15 different real estate projects from 1990 to the year 2000 that summed over 300 residential units. His partners included, but not limited to, “Sierra Nevada Development,” Mark Mitchell, “Storm Western Development,” Claudia Storm and JCC homes. In the year 2000, Doug formed a very successful relationship with Ray Watt of the Watt Companies and developed over 400 units in and around the South Bay between 2000 and 2008.</p>
		</div>
	</div>
