	<div class="bio">
			<div class="b1">Maupin Realtors</div>
			<div class="y1">Who we are.</div>
		<div class="icons">
				<div class="iconsitem">
					<h3> We Build &<br>Develop</h3>
					<img src="<%= asset_path('icon1.svg')%>">	
					<p>Stumptown art party pitchfork mixtape direct trade thundercats.</p>				
				</div>
				<div class="iconsitem">
					<h3> Are Locally<br>Grown</h3>
					<img src="<%= asset_path('icon2.svg')%>">
					<p>Tofu flannel dreamcatcher truffaut, farm-to-table locavore drinking vinegar yuccie pinterest waistcoat mixtape health goth intelligentsia.</p>
				</div>
				<div class="iconsitem">
					<h3>With 35 Years<br>Experience</h3>
					<img src="<%= asset_path('icon3.svg')%>">
					<p>Stumptown art party pitchfork mixtape direct trade thundercats.</p>	
				</div>
				<div class="iconsitem">
					<h3>Committed<br>to Success</h3>
					<img src="<%= asset_path('icon4.svg')%>">
					<p>Tofu flannel dreamcatcher truffaut, farm-to-table locavore drinking vinegar yuccie pinterest waistcoat mixtape health goth intelligentsia.</p>
				</div>
		</div>
		<div class="biolft">
			<div class="portrait"></div>
		</div>
		<div class="biort">
			<div class="b1">Douglas Maupin</div>
			<div class="y1">Broker, Developer, C.E.O</div>
			<p><span class="dropcap">R</span>aised in Rancho Palos Verdes, in 1979, after a six years of living and surfing on Hawaii’s North Shore, Doug Maupin returned to the South Bay and began his career in real estate. First working for CB Mitchell Realty in Torrance, Doug became a top producer in his first year, and continued to be so at other prestigious firms such as The Real Estate Group. In 2010 he set up his own brokerage continuing to list and sell new homes and land. The later increasingly became a passion and focus, he has accrued extensive experience in land acquisition, including lots for development, and commercial property for redevelopment opportunities. Specializing in Torrance, the beach cities, and South Bay in General. With 25+ years of experience, he boasts a long list of repeat clients, including owners new and established, as well as developers large and small. Maupin has a unrivaled passion for real-estate’s many facets and would love to help with your real-estate needs in any way he can. Whether selling your current home, helping you buy a new property, build a new home, or remodel an existing one, creative and sophisticated solutions are Doug’s Forte.</p>
		</div>
	</div>
