<div class="dev">

<div class="devinfo">
	<div class="b1">Maupin Development</div>
	<div class="y1">South Bay</div>
	<p><span class="dropcap">S</span>tarting in 1985, Doug Maupin began developing residential projects in and around the South Bay along with his active brokerage business. Doug Maupin developed 15 different real estate projects from 1990 to the year 2000 that summed over 300 residential units. His partners included, but not limited to, “Sierra Nevada Development,” Mark Mitchell, “Storm Western Development,” Claudia Storm and JCC homes. In the year 2000, Doug formed a very successful relationship with Ray Watt of the Watt Companies and developed over 400 units in and around the South Bay between 2000 and 2008.</p>
</div>

<ul class="bxslider">
	<li><img src="<%= asset_path('dev_01.jpg')%>"></li>
	<li><img src="<%= asset_path('dev_01.jpg')%>"></li>
</ul>

</div>