// Place all the styles related to the props controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fonts

@font-face {
	font-family: 'LubalinGraphStd-Demi';
	src: url('2E86DE_0_0.eot');
	src: url('2E86DE_0_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_0_0.woff2') format('woff2'),
	url('2E86DE_0_0.woff') format('woff'),
	url('2E86DE_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'LubalinGraphStd-Bold';
	src: url('2E86DE_1_0.eot');
	src: url('2E86DE_1_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_1_0.woff2') format('woff2'),url('2E86DE_1_0.woff') format('woff'),
	url('2E86DE_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'LubalinGraphStd-Book';
	src: url('2E86DE_2_0.eot');
	src: url('2E86DE_2_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_2_0.woff2') format('woff2'),url('2E86DE_2_0.woff') format('woff'),
	url('2E86DE_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'maupinicon';
    src: url('maupin-icon-webfont.eot');
    src: url('maupin-icon-webfont.eot?#iefix') format('embedded-opentype'),
         url('maupin-icon-webfont.woff2') format('woff2'),
         url('maupin-icon-webfont.woff') format('woff'),
         url('maupin-icon-webfont.ttf') format('truetype'),
         url('maupin-icon-webfont.svg#maupinicon') format('svg');
    font-weight: normal;
    font-style: normal;

}

// variables

$yellow: #FDDE2C;
$yellowtrans: rgba(253,222,44,0.9);
$grey: #f1f1f1;
$grey2: #D9D9D9;
$grey3: #717171;
$grey4:#F6F6F6;
$red: #FF000D;

$break1: new-breakpoint(max-width 1080px 6);
$break2: new-breakpoint(max-width 600px 6);

$fontsm: 'LubalinGraphStd-Book'; // Book
$fontmd: 'LubalinGraphStd-Demi'; // Demi
$fontlrg: 'LubalinGraphStd-Bold'; // Bold
$icon: 'maupinicon'; // Icons

// base styles

body {
	@include outer-container(100%);
	font-family: $fontsm;
	font-size: 100%;
  margin: 0em;
  background-color: $grey;
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  transition: max-width 0.25s ease-out;

  @include media($break1) {
  	// max-width: 900px;
  	transition: max-width 0.25s ease-out;
  }

   @include media($break2) {
  	// max-width: 375px;
  	transition: max-width 0.25s ease-out;
  }
}

a {
	font-weight: normal;
	appearance: none;
	text-decoration: none;
	color: black;	
}

a:hover {
	color: $grey3;
	transition: color .5s;
}

a:active {
	color: $grey2;
}

ul {
	appearance: none;
	text-decoration: none;
	color: white;
}

button {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: white;
	border-radius: 0px;
	font-family: $fontmd;
	height: 1.875em;
  padding: 1em 1em 2em 1em;
}

button:hover {
	color: $grey3;
	transition: .2s;
}

// TYPOGRAPHY

// Index-House Address / Title

h1 {
	font-weight: normal;
	font-family: $fontmd;
	text-transform: uppercase;
	font-size: 1.45em;
	text-align: left;
	background-color:rgba(255, 255, 255, 0.85);
	position: absolute;
	line-height: 1;
	padding: 0.4em 0.4em 0.2em 0.4em;
}

h3 {
	font-family: $fontsm;
	color: white;
	text-align: center;
}

// Index-Property price

h4 { 
	font-weight: normal;
	font-family: $fontmd;
	font-size: 1.25em;
	text-align: left;
	background-color: $yellowtrans;
	position: absolute;
	line-height: 1;
  margin-top: 1.7em;
  padding: 0.45em 0.45em 0.25em 0.45em;

  span {
  	font-family: $fontsm;
  }
}

// Show-Property Price + Sq. Ft

h2 {
	font-weight: normal;
	font-family: $fontsm;
	font-size: 1.5625em;
	text-align: left;
	color: black;
}

p {
	font-family: $fontsm;
	color: black;
	letter-spacing: .05em;
	line-height: 1.5;
  font-size: 0.9375em;
  text-align: justify;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  @include media ($break2) {
  	-webkit-column-count: 1; /* Chrome, Safari, Opera */
  	-moz-column-count: 1; /* Firefox */
  	column-count: 1;
  	font-style: .8em;
  }
}

.dropcap {
	font-family: $fontmd;
	font-size: 3em;
	float: left;
	line-height: 1.1;
  margin-bottom: -0.5em;
  padding-right: 0.1875em;
}

.kernless {
	letter-spacing: -2;
}

.kernmore {
	letter-spacing: 2;
}

// SHow-Title / Address

.b1 {
	font-family: $fontmd;
	font-size: 2.75rem;
	// text-align: left;
	// text-transform: uppercase;
	line-height: 1;

	@include media($break2) {
		font-size: 2em;
	}
}

.b2 {
	font-family: $fontmd;
	color: $grey3;
	font-size: 2.15rem;
	text-align: left;
	line-height: 1;
	letter-spacing: -4;
}

.y1 {
	font-family: $fontmd;
	color: white;
	font-size: 1.5em;
	letter-spacing: -2;
	border-bottom: 1px solid black;
  padding-bottom: 0.625em;
  padding-top: 0.3125em;
	
	@include media($break2) {
		font-size: 1em;
	}
  
}

// nav

.navghost {
	@include outer-container();
	@include span-columns(6);
	min-width: 100%;
	display: none;
	height: 3.4375em;
	background-color: white;
  z-index: 20202020;
  padding: 10px;
    
  @include media($break2) {
    display: inherit;
  }

	.hamburger {
		display: none;
	  position: fixed;
	  z-index: 202020;
	  cursor: pointer;
	  top: 13px;

	  @include media($break2) {
	  	display: inherit;
	  }
	}

	.bug2 {
		display: none;
    float: right;
    width: 7.375em;

		@include media($break2) {
			display: inherit;
		}
	}

}

.line {
  width: 50px;
  height: 6px;
  background: $yellow;
  margin-bottom: 5px;
}

.nav--open {
  top: 0;
}

.menu {
	@include outer-container();
	@include span-columns(6);
	background-color: white;
}

.navback {
	width: 100%;
	max-width: 1280px;
	height: 3.4375em;
	top: 0em;
	background-color: white;
	opacity: 0.1;
	position: fixed;
	z-index: 100;
	transition: max-width 0.25s ease-out;

	@include media($break1) {
		transition: max-width 0.25s ease-out;
	}

	@include media($break2) {
	  height: 180px;
	  position: fixed;
	  top: -200px;
	  transition: top .1s;
	}

}

.navbar {
	width: 100%;
	max-width: 1280px;
	height: 3.4375em;
	top: 0em;
	position: fixed;
	z-index: 10000;
	transition: max-width 0.25s ease-out;

	@include media($break1) {
		// max-width: 900px;
		transition: max-width 0.25s ease-out;
	}

	@include media($break2) { // Mobile
	  height: 180px;
	  position: fixed;
	  top: -200px;
	  transition: top .1s;
	  background-color: white;
	}

	ul {
		font-family: $fontmd;
		font-size: .85em;
		left: -1.875em;
		top: 0.5em;
		position:absolute;
		cursor: pointer;
		list-style-type: none;

		@include media ($break2) {
			margin-top: 4.5em;
		}

		li {
			display: inline;
			color: black;
			padding: 0.125em;
			margin-right: 1.5625em;

			@include media($break2) {
				display: list-item;
				margin-right: 0em;
			}
		}

		li:hover {
			color: black;
			border-bottom: $yellow 2px solid;

			@include media ($break2) {
				border-bottom: none;
				color: $grey3;
				transition: color 0.25s;
			}
		}

		span {
			color: $yellow;
			font-family: $fontsm;
		}

		li:hover span {
		 	border-bottom: none;
		}
	}

	.bug {
    right: 1%;
    top: 0.625em;
    position: fixed;
    width: 12.5625em;
    position: absolute;

    @include media ($break2) {
    	display: none;
    }
	}
}

// hero

.hero{
	@include outer-container();
	background-color: $yellow;
  background: url(sunset2bw.png) fixed;
	background-position: center -15.625em;
	background-size: 1280px;
	background-repeat: no-repeat; 
	min-width: 100%;
	position: inherit;
	min-height: 36.25em;
	padding-top: 11.25em;

	@include media($break1) {
  	min-height: 26.25em;
  	transition: min-height 0.25s ease-out;
  	padding-top: 9.25em;
 	}	

 	@include media($break2) {
 		@include span-columns(6);
  	min-height: 20.25em;
  	padding-top: 7.75em;
  	background-position: -109px -190px;
    // background-size: conatin;
  	transition: min-height 0.25s ease-out;
 	}	

 .logo{
		width: 70%;
		margin-left: 15%;

		@include media($break2) {
			width: 90%;
			margin-left: 5%;
			transition: width 0.25s ease-out;
		}
	}

	h3 {
		margin-top: 0em;
	}

	.bug {
		width: 90%;
		margin-left: 5%;
	}

	.y1 {
		font-family: $icon;
		font-size: 39em;
		text-align: center;
		color: $yellow;
	}

}

// sections

.sectiontitle {
	margin-right: 2em;
	font-family: $fontmd;
}

#margin {
	background-color: $grey;
	width: 7%;
	position: absolute;
	z-index: -1;
	height: 100%;
	left: 0;
	margin-top: 6.25em;
}

// property

.container {
	@include outer-container();
	min-width: 100%;
	background-color: $grey4;
}

.prop {
	// Background image is queryed from corresponding object
	@include span-columns(6);
	@include omega();
	width: 50%;
	background-color: $grey4;
	background-position: center;
	background-size: cover;
	padding: 1.25em;
	padding-top: 0.25em;
	min-height: 24em;

	@include media($break1) {
		@include span-columns(6);
		width: 100%;
    min-height: 32em;
    padding-top: .4%;
    transition: min-height 0.25s ease-out;
	}

	@include media($break2) {
		min-height: 20.25em;
		padding-left: 1.4em;
	}
}

.prop:nth-last-of-type(-n+1):not(:nth-child(even)) {
 	display: none;
} // Displays a filler image if there are an eneven amount of property listings.

.proplinks {
  font-family: $fontmd;
  font-size: 0.8em;
  background-color: $yellowtrans;
  position: absolute;
  margin-top: 24.75em;
      padding: 0.5em 0.5em 0.2em 0.5em;

	@include media($break1) {
		margin-top: 34.8125em;
		// transition: margin-top 0.25s ease-out;
	}

	@include media($break2) {
		margin-top: 20em;
	}
}

#slug {
	background-image: url(plan.png);
	background-size: cover;

	h1 {
		font-family: $fontsm;
		color: $grey3;
	}
}

// show page

.prophero{
	@include outer-container();
	@include span-columns(12);
}

.icon {
	font-family: $icon;
	color: $yellow;
	position: relative;
  margin-bottom: -3.625em;
  z-index: 100;
  font-size: 3.5em;
  left: 0.25em;
  top: 1.1em;
}

.propinfo {
	@include outer-container();
	@include span-columns(12);
	font-family: $fontmd;
	min-width: 100%;
	padding: 5%;
	padding-top: 7.25em;
	padding-bottom: 7.25em;
	background-color: $grey4;
	min-height: 37.5em;

	span {
		font-family: $fontmd;
		color: $grey3;
		font-size: .5em;
	}

	.b1 {
		border-bottom: 1px solid black;
		padding-bottom: 1em;
	}

	p {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
  	-moz-column-count: 1; /* Firefox */
  	column-count: 1;
	}

	button {
		background-color: $yellow;
	}

	@include media($break2) {
		padding-top: 2.25em;
		padding-bottom: 2.25em;
	}

	.propinfoleft {
		@include outer-container();
		@include span-columns(6);
		margin-right: 0em;
		margin-top: 1.875em;

		@include media ($break2) {
			@include span-columns(6);
		}

	#bed {
		@include span-columns(3);
	}
	
	#bath {
		@include span-columns(3);
	}

	}

	.propinforight {
		@include outer-container();
		@include span-columns(6);
		min-width: 50%;
		margin-right: 0em;
		margin-top: 1.875em;

		@include media ($break2) {
			@include span-columns(6);
		}

	}

	a:hover {
		color: $grey3;
	}

}

.border {
	@include outer-container();
	@include span-columns(12);
	border-top: 1px solid black;
	margin-top: 1.875em;
	padding-top: 1.5625em;
  min-width: 100%;

  .warning {
  	background-color: red;
  	color: white;
  }
}

// Forms

// Edit Form

input {
	width: 100%;
  height: 6vh;
  border: none;
  margin-bottom: 2px;
  padding-left: 1em;
  font-family: $fontmd;
}

.formcontainer {
	@include outer-container();
	@include span-columns(12);
	background-color: $grey;
	margin-top: 3.4375em;
	min-width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.form {
	margin-top: 4.375em;
	font-family: $fontmd;
	min-width: 100%;
	border-top: 1px white solid;
	padding-top: 0.9375em;
	padding-bottom: 6.9375em;

	input {
		@include span-columns(12);
		font-family: $fontsm;
		padding: 1.75em;
		margin-top: 0.875em;
		margin-bottom: 1.875em;
		border-radius: 0em;
		height: 5.5em;
	}

	input[type=submit] {
		border: none;
		font-family: $fontmd;
		padding-top: 1.25em;
		background-color: $yellow;
		margin-top: 1.125em;
		@include span-columns(3);
		cursor: pointer;
		height: 3.2em;
	}

	input[type=submit]:hover {
		color: $grey3;
		transition: .5s;
	}

	input[type=file] {
		padding-left: 0em;
	}

	input[type=textarea] {
		font-family: $fontsm;
		min-height: 8.5em; 
	}

	button {
		@include span-columns(1);
		// height: 3.5em;
		background-color: $red;
		margin-top: 1.125em;
		margin-left: 1.875em;
		margin-right: 0em;
	}

	textarea {
		appearance: none;
		@include span-columns(12);
		margin-bottom: 1.875em;
    height: 4.6875em;
    border: none;
    padding: 0.9375em;
	}

	a {
		color: white;
	}

}

.photobox {
	@include span-columns(12);
	display: flex;
}

.photo {
	display: flex-item;
	background-color: $grey4;
	padding: 1em;
	margin: .25em;
}

// Casba Estates Banner "Ad"

.banner {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 35em;
  background-color: #AECABC;
}

// Hero animation

@include keyframes(fade-out) {
  33%{
    opacity: 1
  }
  66%{
   opacity: 0
  }
}

// Hero

ul.banner-slideshow{
  list-style: none;
  display: inline;
  background-color: #AECABC;

  // Slideshow image one

  li{  
    height: 35em;
    width: 100%;
    max-width: 1280px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-color: #AECABC;
    z-index: 0;
    opacity: 0;
    margin-top: -1.125em;
    background-image: url(slide1.png);
    background-size: cover;
    @include animation(fade-out 22.5s infinite both);
  }
  
  // Slideshow image two

  li:nth-child(2){
    background-image: url(slide2.png);    
    @include animation-delay(7.5s);
    background-size: cover;
    background-position: center;
    opacity: 0;
  }

  // Slideshow image three

  li:nth-child(3){
    background-image: url(slide3.png);
    @include animation-delay(15s);
    background-size: cover;
    background-position: center;
    opacity: 0;
  }
}

.title-vert {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%;
  left: -20px;
  text-align: center;
  color: white;

  h1 {
    font-weight: 900;
    margin-bottom: 5px;
    line-height: 2.25em;
    text-align: center;

    @include media($break2) {
      line-height: 1;
      margin-bottom: 0;
    }
  }

  h2 {
    font-family: $fontmd;
    font-size: 3.75rem;
    line-height: 0;
    text-align: center;
    color: white;
    @include media($break2){
      line-height: 1;
      margin-bottom: -0.1em;
    }
  }

  p {
    text-align: center;
    color: white;
    column-count: 1;
  }

  a {
    font-family: $fontmd;
    background-color: white;
    padding: 1em 1em .95em 1em;
    border-radius: 2px;
  }

}

// Mailing list for Mailchip signup

.shadow {
    box-shadow: 0 7px 10px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.15);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.12);
  transform: translateY(-2px);
}

.mailing {
  min-width: 100%;
  background-color: $yellow;
  padding: 3em;
  padding-bottom: 5em;
  margin-left: auto;

  .mailform {
      width: 100%;

    #mc_embed_signup_scroll {
      display: flex;
      min-width: 90%;
    }

    .mc-field-group {
      width: 90%;
      display: flex;

    input {
      font-family: $fontmd;
      background-color: $yellow;
      height: 3em;
      padding: .5em;
      width: 90%;
      border: none;
      border-radius: 2px;
      border-bottom: 2px solid white;
      color: white;
      transition: border-bottom .25s;
      @include media($break2) {
        width: 100%;
      }
    }

    input.email:focus,
    select.email:focus,
    textarea.email:focus,
    button.email:focus {
        outline: none;
        border-bottom: 2px #898989 solid;
        transition: border-bottom .25s;
      }

    input.email:active,
    select.email:active,
    textarea.email:active,
    button.email:active {
        background-color: $yellow;
      }

    .label-style {
      left: 3.5em;
      margin-top: 15px;
      color: white;
      text-align: left;
      position: absolute;
      pointer-events: none;
      transition: 0.2s ease all; 
      -moz-transition: 0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }

    .is-focused {
      margin-top: -5px;
      color: #898989;
      font-size: .5em;
      left: 5.5em;
    }
    
    }

  }

  .clear {
    width: 15%;
    margin-left: 2px;
    @include media($break2) {
        width: 100%;
        margin-left: 0px;
    }

    input {
      appearance: none;
      background-color: black;
      color: white;
      outline: none;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-family: $fontmd;
      height: 3em;
      padding: .5em;
      width: 100%;
    }
  }
}

// .mailing {
// 	@include outer-container();
// 	@include span-columns(12);	
// 	min-width: 100%;
// 	min-height: 25vh;
// 	background-color: $yellow;
// 	padding: 5em;
//   padding-top: 7.25em;
//   padding-bottom: 7.25em;

//   p {
//   	text-align: left;
//   	-webkit-column-count: 1;
//   }

//     .mailform {
//     	// display: flex;
//     	width: 100%;
//     }

//     #mc_embed_signup_scroll {
//     	display: flex;
//     	min-width: 100%;

//     	@include media($break2){
//     		display: block;
//     	}
//     }

//     .mc-field-group {
//     	width: 80%;

//     	@include media($break2){
//     		width: 100%;
//     	}
//     }

//     .clear {
//     	width: 20%;
//     	margin-left: 2px;

//     	@include media($break2){
//     		width: 100%;
//     		margin-left: 0px;
//     	}

//     input {
//     	background-color: black;
//     	color: white;
//     	outline: none;
//     	cursor: pointer;
//     }

//     }

//     input [type=email]{
//     	outline: none;
//     }

//     input [type=submit]{
//     	background-color: black;
//     	color: white;
//     	outline: none;
//     }
// }

// bio

.bio {
	@include outer-container();
	@include span-columns(12);
	background-color: $grey2;
	min-width: 100%;
	min-height: 25em;
	padding: 5em;
	min-height: 44.375em;
  padding-top: 7.25em;
  padding-bottom: 7.25em;

  @include media($break1) {
  	padding-top: 5em;
  }

  @include media($break2) {
  	@include span-columns(6);
  	padding: 2.5em;

  	p {
  		font-size: 0.75em;
  	}
  }

}

.biohero {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $yellow;
}

.biolft {
	@include outer-container();
	@include span-columns(5);
	padding-top: 1.875em;

	@include media($break1) {
		@include span-columns(6);
		float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
	}

	.portrait {
		border-radius: 100%;
		background-color: $yellow;
		width: 21.875em;
		height: 21.875em;
		background-image: url(doug.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5em;

		@include media($break2) {
			width: 12.5em;
			height: 12.5em;
		}
	}
}

.biort{
	@include outer-container();
	@include span-columns(7);
	float: right;
	border-bottom: 1px solid black;
	text-align: right;

	@include media($break1) {
		@include span-columns(6);
		float: none;
		margin-top: 4.6875em;
	}

	@include media($break2) {
		margin-top: 2em;

		.b1 {
			font-size: 2em;
			text-align: right;
		}
	}


}

.icons {
  @include outer-container();
  min-width: 100%;
  display: flex;
  display: -webkit-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 0em;

   @include media($break1) {
   	margin-left: auto;
   	margin-right: auto;
  	padding: 0em;
  }

  @include media($break2) {
  	padding: 1em;
  }
	
	.iconsitem {
		width: 25%;
		padding: 0.5em;

		@include media($break1) {

			width: 50%;
			padding: 2em;
		}

		@include media($break2) {
			width: 100%;
			padding: 1.5em;

			h3 {
				font-size: 1.5em;
			}
		}
	}

	li {list-style-type: none;}

	h3 {
		color: $grey3;
	}

  p {
	  -webkit-column-count: 1; // Chrome, Safari, Opera
	  -moz-column-count: 1; // Firefox
	  column-count: 1;
	  text-align: left;
  }
}

// development

.dev {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $grey2;
}

.devinfo {
	background-color: $grey2;
	min-width: 100%;
	@include outer-container();
	@include span-columns(12);
	padding: 5em;
  padding-top: 2.5em;
  padding-bottom: 7em;


  .y1 span {
  	font-family: $fontsm;
  }

  img {
  	max-width: 100%;
  	border-bottom: 1px solid black;
  }

  p {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  }

  .clients {
		@include span-columns(10);
	}

  @include media($break2) {
  	padding: 2.5em;

  	p {
  		font-size: 0.75em;
  	}
  }

	.b1 {

	@include media($break2) {
			font-size: 2em;
			padding-top: 0em;
	}

}

	.y1 {
		color: white;
		border-color: black;
	}

	p {
		color: black;
	}

	.bug {
		float: right;
    width: 15em;
	}
}

.title {
	width: 60%;
	margin-left: 20%;
}

.list {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $grey2;
}

// Contact

.contact {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $yellow;
	min-height: 31.25em;
	padding: 5em;
	padding-bottom: 7.25em;

	.y1 {
		color: black;
	}

	h3 {
		text-align: left;
		border-color: white;
	}

	a:hover {
		color: $grey3;
	}

@include media($break2) {
	a {
			min-width: 100%;
	}
}

	.contactlft {
		@include span-columns(6);
		text-align: left;
		padding-bottom: 4.875em;
		border-bottom: 1px solid black;

		@include media($break1){
			padding-bottom: 2.8125em;
		}

	@include media($break2) {
		@include outer-container();
		@include span-columns(6);
		font-size: .75em;
	}

	}

	.contactrt {
		@include span-columns(6);
		background-image: url("http://maps.google.com/maps/api/staticmap?size=525x325&scale=1&zoom=15&style=feature:all|saturation:-100&markers=#{33.812460}%2C#{-118.328503}");
		background-position: 50% 50%;
		background-repeat: none;
		line-height: 0;
		height: 20.3125em;
		margin-top: 3em;
	}

	img {
		width: 100%;
		opacity: 0;
	}
}

// footer

.footer {
	@include span-columns(12);
	@include omega();	
	// max-height: 7.25em;
	// min-height: 9.25em;
	background-color: white;
	// color: white;
	font-family: $fontsm;
	font-size: 0.875em;
	padding: 1.25em;
	text-align: center;

	strong {color: black;}

	.user_nav {color: $grey3;}

	h3 {
		font-family: $fontsm;
		color: black;
		font-size: 0.8em;
	}

	i {
		color: $grey3;
	}
}

.footlinks {
	@include span-columns(12);
	@include omega();
	padding-left: 0em;

	@include media($break2) {
	  display: none;
	}
	
	ul {

		text-align: center;
		list-style-type: none;
	}

	li {
		color: black;
		display: inline;
	}

	li:hover {
		color: black;
		border-bottom: $yellow 2px solid;

		@include media ($break2) {
			border-bottom: none;
			color: $grey3;
			transition: color 0.25s;
		}
	}	

}

// // slider styles

.unslider{
	overflow:auto;
	position: relative;
	margin:0;
	padding:0;
	@include span-columns(12);
	@include omega();

	img { display: block; width: 100%; height: auto; }
}

.unslider-wrap{
	position:relative;
}

.unslider-wrap.unslider-carousel>li{
	float:left;
}

.unslider-vertical>ul{
	height:100%;
}

.unslider-vertical li{
	float:none;
	width:100%;
}

.unslider-fade{
	position:relative;
}

.unslider-fade .unslider-wrap li{
	position:absolute;
	left:0;
	top:0;
	right:0;
	z-index:8;
}

.unslider-fade .unslider-wrap li.unslider-active{
	z-index:10;
}

.unslider li,.unslider ol,.unslider ul{
	list-style:none;
	margin:0;
	padding:0;
	border:none;
}

//

.unslider-arrow{
	position:absolute;
	left:20px;
	z-index:2;
	cursor:pointer;
}

.unslider-arrow.next{
	left:auto;right:20px;
}

.unslider-arrow {
	font-family: $icon;
	margin-top: -7em;
	font-size: 4em;
	color: white;

	@include media($break1) {
		margin-top: -5.5em;
	}

	@include media($break2) {
		margin-top: -2.55em;
		font-size: 3em;
	}
}

.unslider-arrow:hover {
	color: $yellowtrans;
}

.unslider-arrow .next {
	float: right;
	margin-right: 0.25em;
}

.unslider-arrow .prev {
	float: left;
	margin-left: 0.25em;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
  background-color: $grey4;
}

.dev .unslider-nav ol {
	background-color: $grey2;
}

.dev .unslider-arrow {
	margin-top: -6em;

	@include media($break1) {
		margin-top: -4em;
	}

	@include media($break2) {
		margin-top: -2.55em;
		font-size: 3em;
	}
}

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

.unslider-nav ol li {
	width: 10px;
	height: 10px;
	border-color: $yellow;
	background-color: $yellow;
}

.unslider-nav ol li.unslider-active {
	border-color: $grey3;
	background-color: $grey3;
}

// Static Maps

#googlemaps { 
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;  

  @include media($break1) {
  }

  @include media($break2) {
  }

  img {
  	width: 100%;
  	overflow: hidden;

  	@include media($break1) {
  		@include span-columns(6);
  		// max-width: 56.1875em;
  	}

    @include media($break2) {
  		@include span-columns(6);
  		// max-width: 23.5em;
  	}
  }

  #largemap {
		display: inherit;

		@include media($break2) {
			display: none;
		}
	}

	#smallmap {
		display: none;

		@include media($break2) {
			display: inherit;
		}
	}

}


