// Place all the styles related to the props controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fonts

@font-face {
	font-family: 'LubalinGraphStd-Demi';
	src: url('2E86DE_0_0.eot');
	src: url('2E86DE_0_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_0_0.woff2') format('woff2'),
	url('2E86DE_0_0.woff') format('woff'),
	url('2E86DE_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'LubalinGraphStd-Bold';
	src: url('2E86DE_1_0.eot');
	src: url('2E86DE_1_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_1_0.woff2') format('woff2'),url('2E86DE_1_0.woff') format('woff'),
	url('2E86DE_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'LubalinGraphStd-Book';
	src: url('2E86DE_2_0.eot');
	src: url('2E86DE_2_0.eot?#iefix') format('embedded-opentype'),
	url('2E86DE_2_0.woff2') format('woff2'),url('2E86DE_2_0.woff') format('woff'),
	url('2E86DE_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'maupinicon';
    src: url('maupin-icon-webfont.eot');
    src: url('maupin-icon-webfont.eot?#iefix') format('embedded-opentype'),
         url('maupin-icon-webfont.woff2') format('woff2'),
         url('maupin-icon-webfont.woff') format('woff'),
         url('maupin-icon-webfont.ttf') format('truetype'),
         url('maupin-icon-webfont.svg#maupinicon') format('svg');
    font-weight: normal;
    font-style: normal;

}

// variables

$yellow: #FDDE2C;
$yellowtrans: rgba(253,222,44,0.9);
$grey: #f1f1f1;
$grey2: #D9D9D9;
$grey3: #717171;
$grey4:#F6F6F6;
$red: #FF000D;

$break1: new-breakpoint(max-width 1279px 6);
$break2: new-breakpoint(max-width 899px 6);

$fontsm: 'LubalinGraphStd-Book'; // Book
$fontmd: 'LubalinGraphStd-Demi'; // Demi
$fontlrg: 'LubalinGraphStd-Bold'; // Bold
$icon: 'maupinicon'; // Icons

// base styles

body {
	font-family: $fontsm;
	font-size: 100%;
  margin: 0em;
  background-color: $grey;
  font-family: sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
  transition: max-width 0.25s ease-out;

  @include media($break1) {
  	max-width: 900px;
  	transition: max-width 0.25s ease-out;
  }

   @include media($break2) {
  	max-width: 375px;
  	transition: max-width 0.25s ease-out;
  }
}

a {
	font-weight: normal;
	appearance: none;
	text-decoration: none;
	color: black;	
}

a:hover {
	color: $grey3;
	transition: color .5s;
}

a:active {
	color: $grey2;
}

ul {
	appearance: none;
	text-decoration: none;
	color: white;
}

button {
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: white;
	border-radius: 0px;
	font-family: $fontmd;
	height: 1.875em;
  padding: 1em 1em 2em 1em;
}

button:hover {
	color: $grey3;
	transition: .2s;
}

// TYPOGRAPHY

// Index-House Address / Title

h1 {
	font-weight: normal;
	font-family: $fontmd;
	text-transform: uppercase;
	font-size: 1.45em;
	text-align: left;
	background-color:rgba(255, 255, 255, 0.85);
	position: absolute;
	line-height: 1;
	padding: 0.4em 0.4em 0.2em 0.4em;
}

h3 {
	font-family: $fontsm;
	color: white;
	text-align: center;
}

// Index-Property price

h4 { 
	font-weight: normal;
	font-family: $fontmd;
	font-size: 1.25em;
	text-align: left;
	background-color: $yellowtrans;
	position: absolute;
	line-height: 1;
  margin-top: 1.7em;
  padding: 0.45em 0.45em 0.25em 0.45em;

  span {
  	font-family: $fontsm;
  }
}

// Show-Property Price + Sq. Ft

h2 {
	font-weight: normal;
	font-family: $fontsm;
	font-size: 1.5625em;
	text-align: left;
	color: black;
}

p {
	font-family: $fontsm;
	color: black;
	letter-spacing: .05em;
	line-height: 1.5;
  font-size: 0.9375em;
  text-align: justify;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  @include media ($break2) {
  	-webkit-column-count: 1; /* Chrome, Safari, Opera */
  	-moz-column-count: 1; /* Firefox */
  	column-count: 1;
  	font-style: .8em;
  }
}

.dropcap {
	font-family: $fontmd;
	font-size: 3em;
	float: left;
	line-height: 1.1;
  margin-bottom: -0.5em;
  padding-right: 0.1875em;
}

.kernless {
	letter-spacing: -2;
}

.kernmore {
	letter-spacing: 2;
}

// SHow-Title / Address

.b1 {
	font-family: $fontmd;
	font-size: 2.75rem;
	text-align: left;
	// text-transform: uppercase;
	line-height: 1;

	@include media($break2) {
		font-size: 2em;
	}
}

.b2 {
	font-family: $fontmd;
	color: $grey3;
	font-size: 2.15rem;
	text-align: left;
	line-height: 1;
	letter-spacing: -4;
}

.y1 {
	font-family: $fontmd;
	color: white;
	font-size: 1.5em;
	letter-spacing: -2;
	border-bottom: 1px solid black;
  padding-bottom: 0.625em;
  padding-top: 0.3125em;
	
	@include media($break2) {
		font-size: 1em;
	}
  
}

// nav

.navbar {
	width: 100%;
	max-width: 1280px;
	height: 3.4375em;
	top: 0em;
	background-color: white;
	position: fixed;
	z-index: 10000;
	transition: max-width 0.25s ease-out;

	h4 {
			display: none;
			cursor: pointer;
			
			@include media($break2) {
				display: inherit;
				font-size: 1.1875em;
				top: -37px;
	    	margin-left: 0.75em;
  		}
	}

	@include media($break1) {
		max-width: 900px;
		transition: max-width 0.25s ease-out;
	}

	@include media($break2) { // !!!!!
		max-width: 375px;
		transition: max-width 0.25s ease-out;
		min-height: 180px;
		position: fixed;
	}

	ul {
		font-family: $fontmd;
		font-size: .85em;
		left: -1.875em;
		top: 0.5em;
		position:absolute;
		cursor: pointer;
		list-style-type: none;

		@include media ($break2) {
			top: 2.5em;
		}

		li {
			display: inline;
			color: black;
			padding: 0.125em;
			margin-right: 1.5625em;

			@include media($break2) {
				display: list-item;
				margin-right: 0em;
			}
		}

		li:hover {
			color: black;
			border-bottom: $yellow 2px solid;

			@include media ($break2) {
				border-bottom: none;
				color: $grey3;
				transition: color 0.25s;
			}
		}

	}

	.bug {
    right: 0.625em;
    top: 0.625em;
    position: fixed;
    width: 12.5625em;
    position: absolute;

    @include media ($break2) {
    	display: none;
    }
	}

	.bug2 {
		display: none;
    right: 0.625em;
    top: 0.625em;
    position: fixed;
    width: 7.375em;
    position: absolute;

		@include media($break2) {
			display: inherit;
		}
	}

}

// hero

.hero{
	@include outer-container();
	background-color: $yellow;
  background: url(sunset2bw.png) fixed;
	background-position: center -15.625em;
	background-size: 1280px;
	background-repeat: no-repeat; 
	min-width: 100%;
	position: inherit;
	min-height: 36.25em;

	@include media($break1) {
  	min-height: 26.25em;
  	transition: min-height 0.25s ease-out;
 	}	

 	@include media($break2) {
  	min-height: 11.25em;
  	padding-top: 7.75em;
  	transition: min-height 0.25s ease-out;
 	}	

 .logo{
		width: 70%;
		margin-left: 15%; 
		margin-top: 15.5%;

		@include media($break2) {
			display: none;
		}
	}

	h3 {
		margin-top: 0em;
	}

	.bug {
		width: 90%;
		margin-left: 5%;
	}

	.y1 {
		font-family: $icon;
		font-size: 39em;
		text-align: center;
		color: $yellow;
	}

}

#hero2 {
	display: none;
	@include media($break2) {
	}
}

#hero1 {
	@include media($break2) {
	}
}

// sections

.sectiontitle {
	margin-right: 2em;
	font-family: $fontmd;
}

#margin {
	background-color: $grey;
	width: 7%;
	position: absolute;
	z-index: -1;
	height: 100%;
	left: 0;
	margin-top: 6.25em;
}

// property

.container {
	@include outer-container();
	min-width: 100%;
	background-color: $grey4;
}

.prop {
	// Background image is queryed from corresponding object
	@include span-columns(6);
	@include omega();
	width: 50%;
	background-color: $grey4;
	background-position: center;
	background-size: cover;
	padding: 1.25em;
	padding-top: 0.25em;
	min-height: 24em;

	@include media($break1) {
		@include span-columns(6);
		width: 100%;
    min-height: 32em;
    padding-top: .4%;
    transition: min-height 0.25s ease-out;
	}

	@include media($break2) {
		min-height: 20em;
		padding-left: 1.4em;
	}
}

.prop:nth-last-of-type(-n+1):not(:nth-child(even)) {
 	display: none;
} // Displays a filler image if there are an eneven amount of property listings.

.proplinks {
  font-family: $fontmd;
  font-size: 0.8em;
  background-color: $yellowtrans;
  position: absolute;
  margin-top: 24.75em;
      padding: 0.5em 0.5em 0.2em 0.5em;

	@include media($break1) {
		margin-top: 34.8125em;
		// transition: margin-top 0.25s ease-out;
	}

	@include media($break2) {
		margin-top: 11.875em;
	}
}

#slug {
	background-image: url(plan.png);
	background-size: cover;

	h1 {
		font-family: $fontsm;
		color: $grey3;
	}
}

// show page

.prophero{
	@include outer-container();
	@include span-columns(12);
}

.icon {
	font-family: $icon;
	color: $yellow;
	position: relative;
  margin-bottom: -3.625em;
  z-index: 100;
  font-size: 3.5em;
  left: 0.25em;
  top: 1.1em;
}

.propinfo {
	@include outer-container();
	@include span-columns(12);
	font-family: $fontmd;
	min-width: 100%;
	padding: 5%;
	padding-top: 7.25em;
	padding-bottom: 7.25em;
	background-color: $grey4;
	min-height: 37.5em;

	span {
		font-family: $fontmd;
		color: $grey3;
		font-size: .5em;
	}

	.b1 {
		border-bottom: 1px solid black;
		padding-bottom: 1em;
	}

	p {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
  	-moz-column-count: 1; /* Firefox */
  	column-count: 1;
	}

	.propinfoleft {
		@include outer-container();
		@include span-columns(6);
		margin-right: 0em;
		margin-top: 1.875em;

	}

	.propinforight {
		@include outer-container();
		@include span-columns(6);
		min-width: 50%;
		margin-right: 0em;
		margin-top: 1.875em;

	}

	a:hover {
		color: $grey3;
	}

}

.border {
	@include outer-container();
	@include span-columns(12);
	border-top: 1px solid black;
	margin-top: 1.875em;
	padding-top: 1.5625em;
  min-width: 100%;
}

// Forms

// Edit Form

input {
	width: 100%;
  height: 6vh;
  border: none;
  margin-bottom: 2px;
  padding-left: 1em;
  font-family: $fontmd;
}

.formcontainer {
	@include outer-container();
	@include span-columns(12);
	background-color: $grey;
	margin-top: 3.4375em;
	min-width: 100%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.form {
	margin-top: 4.375em;
	font-family: $fontmd;
	min-width: 100%;
	border-top: 1px white solid;
	padding-top: 0.9375em;
	padding-bottom: 6.9375em;

	input {
		@include span-columns(12);
		font-family: $fontsm;
		padding: 1.75em;
		margin-top: 0.875em;
		margin-bottom: 1.875em;
		border-radius: 0em;
		height: 2.5em;
	}

	input[type=submit] {
		border: none;
		font-family: $fontmd;
		padding-top: 1.25em;
		background-color: $yellow;
		margin-top: 1.125em;
		@include span-columns(3);
		cursor: pointer;
	}

	input[type=submit]:hover {
		color: $grey3;
		transition: .5s;
	}

	input[type=file] {
		padding-left: 0em;
	}

	input[type=textarea] {
		font-family: $fontsm;
		min-height: 2.5em; 
	}

	button {
		@include span-columns(1);
		// height: 3.5em;
		background-color: $red;
		margin-top: 1.125em;
		margin-left: 1.875em;
		margin-right: 0em;
	}

	textarea {
		appearance: none;
		@include span-columns(12);
		margin-bottom: 1.875em;
    height: 4.6875em;
    border: none;
    padding: 0.9375em;
	}

	a {
		color: white;
	}

}

.photobox {
	@include span-columns(12);
	display: flex;
}

.photo {
	display: flex-item;
	background-color: $grey4;
	padding: 1em;
	margin: .25em;
}

.warning {
	color: white;
	background-color: $red;
	float: right;
}

.warning:hover a {
	color: $grey2;
}

// bio

.bio {
	@include outer-container();
	@include span-columns(12);
	background-color: $grey2;
	min-width: 100%;
	min-height: 25em;
	padding: 5em;
	min-height: 44.375em;
  padding-top: 7.25em;
  padding-bottom: 7.25em;

  @include media($break1) {
  	padding-top: 5em;
  }

  @include media($break2) {
  	@include span-columns(6);
  	padding: 2.5em;

  	p {
  		font-size: 0.75em;
  	}
  }

}

.biohero {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $yellow;
}

.biolft {
	@include outer-container();
	@include span-columns(5);
	padding-top: 1.875em;

	@include media($break1) {
		@include span-columns(6);
		float: none;
    display: block;
    margin-right: 0%;
    width: 50%;
    margin-left: 12.0625em;
	}

	@include media($break2) {
		margin-left: 2.75em;
	}

	.portrait {
		border-radius: 100%;
		background-color: $yellow;
		width: 21.875em;
		height: 21.875em;
		background-image: url(doug.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.5625em;
    margin-top: 2.5em;

    @include media($break1) {
    	margin-left: 0em;
    	margin-top: 0em;
    }

		@include media($break2) {
			width: 12.5em;
			height: 12.5em;
			margin-left: 0em;
		}
	}
}

.biort{
	@include outer-container();
	@include span-columns(7);
	float: right;
	border-bottom: 1px solid black;

	@include media($break1) {
		@include span-columns(6);
		float: none;
		margin-top: 4.6875em;
	}

	@include media($break2) {
		margin-top: 2em;

		.b1 {
			font-size: 2em;
		}
	}
}

// development

.dev {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $grey2;
}

.devinfo {
	background-color: $grey2;
	min-width: 100%;
	@include outer-container();
	@include span-columns(12);
	padding: 5em;
  padding-top: 2.5em;
  padding-bottom: 7em;


  .y1 span {
  	font-family: $fontsm;
  }

  img {
  	max-width: 100%;
  	border-bottom: 1px solid black;
  }

  p {
  -webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
  }

  .clients {
		@include span-columns(10);
	}

  @include media($break2) {
  	padding: 2.5em;

  	p {
  		font-size: 0.75em;
  	}
  }

	.b1 {

	@include media($break2) {
			font-size: 2.5em;
			padding-top: 0em;
	}

}

	.y1 {
		color: white;
		border-color: black;
	}

	p {
		color: black;
	}

	.bug {
		float: right;
    width: 15em;
	}
}

.title {
	width: 60%;
	margin-left: 20%;
}

.list {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $grey2;
}

// Contact

.contact {
	@include outer-container();
	@include span-columns(12);
	min-width: 100%;
	background-color: $yellow;
	min-height: 31.25em;
	padding: 5em;
	padding-bottom: 7.25em;


	.y1 {
		color: black;
	}

	h3 {
		text-align: left;
		border-color: white;
	}

	a:hover {
		color: $grey3;
	}

	.contactlft {
		@include span-columns(6);
		text-align: left;
		padding-bottom: 4.875em;
		border-bottom: 1px solid black;

		@include media($break1){
			padding-bottom: 2.8125em;
		}
	}

	.contactrt {
		@include span-columns(6);
		background-image: url("http://maps.google.com/maps/api/staticmap?size=525x325&scale=1&zoom=15&style=feature:all|saturation:-100&markers=#{33.812460}%2C#{-118.328503}");
		background-position: 50% 50%;
		background-repeat: none;
		line-height: 0;
		height: 20.3125em;
		margin-top: 3em;
	}

	img {
		max-width: 100%;
		opacity: 0;
	}

}

// footer

.footer {
	@include span-columns(12);
	@include omega();	
	max-height: 7.25em;
	min-height: 7.25em;
	background-color: white;
	color: white;
	font-family: $fontsm;
	font-size: 0.875em;
	padding: 1.25em;
	text-align: center;

	h3 {
		font-family: $fontsm;
		color: black;
		font-size: 0.8em;
	}

	i {
		color: $grey3;
	}
}

.footlinks {
	@include span-columns(12);
	@include omega();
	padding-left: 0em;

	@include media($break2) {
	  display: none;
	}
	
	ul {

		text-align: center;
		list-style-type: none;
	}

	li {
		color: black;
		display: inline;
	}

	li:hover {
		color: black;
		border-bottom: $yellow 2px solid;

		@include media ($break2) {
			border-bottom: none;
			color: $grey3;
			transition: color 0.25s;
		}
	}	

}

// // slider styles

.unslider{
	overflow:auto;
	position: relative;
	margin:0;
	padding:0;
	@include span-columns(12);
	@include omega();
}

.unslider-wrap{
	position:relative;
}

.unslider-wrap.unslider-carousel>li{
	float:left;
}

.unslider-vertical>ul{
	height:100%;
}

.unslider-vertical li{
	float:none;
	width:100%;
}

.unslider-fade{
	position:relative;
}

.unslider-fade .unslider-wrap li{
	position:absolute;
	left:0;
	top:0;
	right:0;
	z-index:8;
}

.unslider-fade .unslider-wrap li.unslider-active{
	z-index:10;
}

.unslider li,.unslider ol,.unslider ul{
	list-style:none;
	margin:0;
	padding:0;
	border:none;
}

//

.unslider-arrow{
	position:absolute;
	left:20px;
	z-index:2;
	cursor:pointer;
}

.unslider-arrow.next{
	left:auto;right:20px;
}

.unslider-arrow {
	font-family: $icon;
	margin-top: -7em;
	font-size: 4em;
	color: white;
}

.unslider-arrow:hover {
	color: $yellowtrans;
}

.unslider-arrow .next {
	float: right;
	margin-right: 0.25em;
}

.unslider-arrow .prev {
	float: left;
	margin-left: 0.25em;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
  background-color: $grey4;
}

.dev .unslider-nav ol {
	background-color: $grey2;
}

.dev .unslider-arrow {
	margin-top: -6em;
}

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

.unslider-nav ol li {
	width: 10px;
	height: 10px;
	border-color: $yellow;
	background-color: $yellow;
}

.unslider-nav ol li.unslider-active {
	border-color: $grey3;
	background-color: $grey3;
}

// 

#googlemaps { 
	@include outer-container();
	@include span-columns(12);
	min-height: 34.375em;
	min-width: 100%;
	margin-bottom: 3.1875em;
  

  @include media($break1) {
 		margin-bottom: -8em;
  }

  img {
  	max-width: 100%;
  	position: absolute;
  	overflow: hidden;

  	@include media($break1) {
  		@include span-columns(6);
  		max-width: 56.1875em;
  	}
  }
}

