<div class="contact">
	<div class="contactlft">
		<div class="y1">Contact</div>
			<div>
				<h2>Based in the South Bay for over 25 years.</h2>
				<h3>
					<br>
					<a href="/"> 23505 Crenshaw Blvd. Suite 208<br>Torrance, Ca. 90505</a>
					<br>
					<br>
					<i class="fa fa-phone-square"></i><a href=""> 3105308457</a><br>
					<i class="fa fa-envelope"><a href="/"></i> info@maupinrealtors.com</a>
					<br><br>
				</h3>
			</div>
		</div>

		<a href="https://goo.gl/maps/ucoKnsgqET82" target="blank" class="contactrt">
			<img "http://maps.google.com/maps/api/staticmap?size=525x325&scale=1&zoom=15&style=feature:all|saturation:-100&markers=#{33.812460}%2C#{-118.328503}">
		</a>

</div>