<div id="signup" class="maillistcontainer">
		<div class="mailistform">
			<div class="clsbtn"><button id="clsbtn"><i class="fa fa-times fa-2x"></i></button></div>
			<h2>Join our mailing list</h2>
			<p>Recieve info on new listings, and opportunities.</p>
			<input type="text" name="" value="" placeholder="Name">
			<input type="text" name="" value="" placeholder="Email">
			<input type="submit" name="Join" value="Join">
		</div>
</div>