<div class="footer">
<!-- 	<div id="footlinks">
		<i class="fa fa-home"></i><a href="/"> Home</a><br>
		<i class="fa fa-info-circle"></i><a href="/"> About</a><br>
		<i class="fa fa-shopping-cart"><a href="/"></i> Buyers</a><br>
		<i class="fa fa-money"><a href="/"></i> Sellers</a><br>
		<i class="fa fa-trophy"></i><a href="/"></i> Development</a><br>
	</div> -->

	<div id="footinfo">
		Maupin Development
		<i class="fa fa-map-marker"></i><a href="/"> 23505 Crenshaw Blvd. Suite 208<br>
		Torrance, Ca. 90505</a> <br><br>
		<i class="fa fa-phone-square"></i> Office: <a href="">3105308457</a> | 
		<i class="fa fa-envelope"><a href="/"></i> info@maupinrealtors.com</a>
	</div>
</div>