<div class="footer">
	 <ul class="footlinks">
		<li id="goingtolistings"><a href="#listings">Listings</a></li> | 
		<li id="goingtoabout"><a href="#about">Info</a></li> | 
		<li id="gotodev"><a href="#dev">Development</a></li> | 
		<li id="gotocontact"><a href="#contact">Contact</a></li>
	</ul>
	<h3> ©2016 | Site Design by <a href="http://www.davidmaupin.com" target="blank"> Daily Ops </h3>
</div>