<!-- links -->

<div class="container">
	<a href="/">
		<div class="sectionlink">
			<img src="<%= asset_path('maup_sellers.svg') %>" alt="Maupin Realty">
		</div>
	</a>
	<a href="/">
		<div class="sectionlink" id="buyers">
			<img src="<%= asset_path('maup_buyers.svg') %>" alt="Maupin Realty">
		</div>
	</a>
<!-- 	<a href="/">
		<div class="sectionlink" id="development">
			<img src="<%= asset_path('maup_dev.svg') %>" alt="Maupin Realty">
		</div>
	</a>
	<a href="/">
		<div class="sectionlink" id="about">
			<img src="<%= asset_path('maup_about.svg') %>" alt="Maupin Realty">
		</div>
	</a> -->
</div>