<!DOCTYPE html>
<html>
<head>
  <title>Realtysql</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="http://bxslider.com/lib/jquery.bxslider.js"></script>

</head>
<body>

<div class="main">
<!-- nav bar -->
	<div id="margin"></div>
	<%= yield %>
	</div>
</body>
</html>
